tmp
*_old
*_backup
.png_backup
Thumbs.db
.DS_Store                                                                                                                                                                                                                                                                                                                             